/* Tema Dark
   Substitui apenas variáveis do sistema
*/

:root{
  --p: #6366f1;   /* cor principal */
  --card: #020617;
  --b: #1e293b;
  --ok: #10b981;
  --bad: #ef4444;
}

body{
  background:#0f172a;
  color:#ffffff;
}
